@use "sass:color" as *;
@use "sass:map";

:root {
	--color-dark: #121927;
	--color-border: #1a366f;
	--color-dark2: #111823;
	--color-dark3: #171f2e;
	--color-blue: #2998fb;
	--color-blue2: #134aae;
	--color-lightdark: #0c1320;
}
